VITE_API_BASE_URL=http://localhost:8080
VITE_WS_BASE_URL=http://localhost:8080
VITE_API_PROXY_TARGET=http://localhost:8080
VITE_AUTH_USERNAME=aleksey_m
VITE_AUTH_PASSWORD=password
VITE_DEFAULT_WAITING_SECONDS=60
VITE_DEFAULT_BOOST_MULTIPLIER=2
VITE_ROOM_LINGER_SECONDS=20
